<%= form_with(model: telefono, local: true) do |form| %>
  <% if telefono.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(telefono.errors.count, "error") %> prohibited this telefono from being saved:</h2>

      <ul>
      <% telefono.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :modelo_id %>
    <% modelo_array = Modelo::all.map { |modelo| ["Modelo: #{modelo.nombre}", modelo.id ] }  %>
    <div class="col-lg-12">
      <%= form.select(:modelo_id, options_for_select(modelo_array), {prompt: true}, {class: 'form-control'})  %>
    </div>
  </div>

  <div class="field">
    <%= form.label :tipo_id %>
    <% tipo_array = Tipo::all.map { |tipo| ["Tipo: #{tipo.nombre}", tipo.id ] }  %>
    <div class="col-lg-12">
      <%= form.select(:tipo_id, options_for_select(tipo_array), {prompt: true}, {class: 'form-control'})  %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
