<div class="wrap ms-hero-img-beach ms-hero-bg-primary ms-bg-fixed">
    <div class="container index-1">
        <% if marca.errors.any? %>
        <div class="text-center color-white mw-800 center-block mb-4">
            <h2><%= pluralize(marca.errors.count, "error") %> prohibited this marca from being saved:</h2>
            <ul>
                <% marca.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <div class="text-center color-white mb-4">
            <h1>Desbloquea tu Celular con <b>4GCelulares</b></h1>
            <p class="lead">Selecciona el modelo del celular que quieres liberar.
            </p>
            <div class="alert alert-info">
                        <h1>
                             Marca seleccionada: <%= @marca.nombre %>
                        </h1>
                    </div>
        </div>
        <div class="row color-dark">
            <div class="col-lg-12 col-md-12 col-xs-12 mix smartphone samsung" data-price="569.99" data-date="20151201">
                <div class="card wow zoomInUp">
                    <div class="card-block text-center">
                        <%= form_with(url: '/telefonos/busqueda', local: true, method: :get, class: 'intro-form') do |form| %>
                        <h4 class="text-normal text-center">Selecciona el modelo del celular que quieres liberar</h4>
                        <h5>Marca seleccionada: <b><%= @marca.nombre %></b></h5>
                        <%= form.collection_select(:modelo_id, Modelo::where(:marca_id => @marca.id), :id, :nombre, {prompt: true}, {class: 'form-control' ,placeholder: 'Busca aquí el modelo del celular'}) %>
                        <%= form.submit 'Seleccionar', class: 'btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb' %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- conrainer -->
</div>