<div class="col-md-9 ms-paper-content-container">
    <div class="ms-paper-content">
        <h1>
            Marcas
            <small class="pull-right">
            <%= link_to 'Nuevo Modelo', new_marca_path, class: 'btn-sm btn btn-raised btn-primary' %>
            </small>
        </h1>

        <% if notice %>
            <div class="alert alert-success alert-dismissible" role="alert">
                <p><%= notice %></p>
            </div>
        <%end%>
        <section class="ms-component-section">
            <h2 class="section-title" id="tables-example">Listado</h2>
            <!-- <p>For basic styling&mdash;light padding and only horizontal dividers&mdash;add the base class <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of tables for other plugins
                like calendars and date pickers, we've opted to isolate our custom table styles.</p> -->
            <div class="bs-example">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Nombre</td>
                            <td colspan="3"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <% @marcas.each do |marca| %>
                        <tr>
                            <td><%= marca.id %></td>
                            <td><%= marca.nombre %></td>
                            <td class="col-md-6">
                                <%= link_to 'ver', marca, class: 'btn-sm btn btn-raised btn-info' %>
                                <%= link_to 'editar', edit_marca_path(marca), class: 'btn-sm btn btn-raised btn-warning ' %>
                                <%= link_to 'Eliminar', marca, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn btn-raised btn-danger', method: :delete %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <!-- ms-paper-content -->
</div>