<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @reportado.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @reportado.modelo %>
</p>

<p>
  <strong>Imei:</strong>
  <%= @reportado.imei %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @reportado.tipo %>
</p>

<p>
  <strong>Operador:</strong>
  <%= @reportado.operador %>
</p>

<p>
  <strong>Estador:</strong>
  <%= @reportado.estadoR %>
</p>

<p>
  <strong>Estadop:</strong>
  <%= @reportado.estadoP %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @reportado.ciudad %>
</p>

<%= link_to 'Edit', edit_reportado_path(@reportado) %> |
<%= link_to 'Back', reportados_path %>
