<div class="col-md-9 ms-paper-content-container">
    <div class="ms-paper-content">
        <h1>
            Pedidos
           <!--  <small class="pull-right">
            <%= link_to 'Nuevo Pedido', new_pedido_path, class: 'btn-sm btn btn-raised btn-primary' %>
            </small> -->
        </h1>
        <% if notice %>
        <div class="alert alert-success alert-dismissible" role="alert">
            <p><%= notice %></p>
        </div>
        <%end%>
        <section class="ms-component-section">
            <div class="row">
            <div class="col-md-12">
                <h2 class="section-title" id="example">Listado</h2>
                <!-- <p>For basic styling&mdash;light padding and only horizontal dividers&mdash;add the base class <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of tables for other plugins
                    like calendars and date pickers, we've opted to isolate our custom table styles.</p> -->
                <div class="bs-example table'responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Operadora</td>
                                <!-- <td>Telefono</td> -->
                                <td>Imei</td>
                                <td>Email</th>
                                <td>Nro telefono</td>
                                <td>Total</td>
                                <td>Estado pago</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <% @pedidos.each do |pedido| %>
                            <tr>
                                <td><%= pedido.operadora.nombre %></td>
                                <!-- <td><%= pedido.telefono.modelo.nombre %> <%= pedido.telefono.tipo.nombre %></td> -->
                                <td><%= pedido.imei %></td>
                                <td><%= pedido.email %></td>
                                <td><%= pedido.nro_telefono %></td>
                                <td><%= pedido.total %></td>
                                <td>
                                    <%if(pedido.estado_pago) %>
                                    <span class="text-success">Pagado</span>
                                    <% else %>
                                    <span class="text-danger">Pendiente</span>
                                    <% end %>
                                </td>
                                <td>
                                  <%= link_to '', pedido, class: "mr-1 zmdi zmdi-check zmdi-hc-fw" %>

                                  <%= link_to '', pedido, data: { confirm: 'Are you sure?' }, class: ' mr-1 zmdi zmdi-close zmdi-hc-fw color-danger', method: :delete %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </section>
    </div>
    <!-- ms-paper-content -->
</div>
