         <div class="col-lg-12 col-lg-offset-0 well">
<fieldset> 

            <div class="card card-primary">
                    <div class="card-header">
                      <h2 class="card-title">
                        <i class="fa fa-graduation-cap"></i> Pedidos
                    </div>
                    <table class="table table-no-border table-striped">

                      <thead>
                        
<tr>
                          <td>Operadora</td>
                            <td>Telefono</td>
                               <td>Imei</td>
                             <td>Email</th>
                          <td>Nro telefono</td>
                             <td>Total</td>
                              <td>Estado pago</td>
                            <td colspan="3"></td>
                       
                        </tr></h2>
                      </thead>

                      <tbody>
                         <% @pedidos.each do |pedido| %>
                        <tr> 
        <td><%= pedido.operadora_id %></td>
        <td><%= pedido.telefono_id %></td>
        <td><%= pedido.imei %></td>
        <td><%= pedido.email %></td>
        <td><%= pedido.nro_telefono %></td>
        <td><%= pedido.total %></td>
        <td><%= pedido.estado_pago %></td>
        <td><%= link_to 'Show', pedido %></td>
        <td><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <% end %>
                      
                      </tbody>
                    </table>
                  </div>
                  </div>
                  </fieldset>    