
<div class="bg-full-page bg-primary back-fixed">
    <div class="mw-500 absolute-center">
            <br>
            <br>
        <div class="card animated zoomInDown animation-delay-5">
            <div class="card-block">
                <h1 class="color-primary">Iniciar sesion</h1>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <fieldset>
                    <div class="form-group label-floating">
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="zmdi zmdi-account"></i>
                            </span>
                            <%= f.label :email, class: 'control-label' %>
                            <%= f.email_field :email, autofocus: true, class: 'form-control', require: '' %>
                        </div>
                    </div>
                    <div class="form-group label-floating">
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                            </span>
                            <%= f.label :password, class: 'control-label' %>
                            <%= f.password_field :password, autofocus: true, class: 'form-control', require: '' %>
                        </div>
                    </div>
                    <% if devise_mapping.rememberable? -%>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <%= f.check_box :remember_me %>
                                    <%= f.label "Recordarme" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end -%>
                    <div class="row ">
                        <div class="col-md-6">
                            <%= button_tag(type: 'submit', class: "btn btn-raised btn-primary pull-rightb") do %>
                              <span class="zmdi zmdi-long-arrow-right no-mr ml-1"></span> Entrar
                            <% end %>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="animated fadeInUp animation-delay-7">
                                <%= render "usuarios/shared/links" %>
                            </div>
                        </div> -->
                    </div>
                </fieldset>
                <% end %>
            </div>
        </div>
        
    </div>
</div>