<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= f.text_field :email, class: 'text', autofocus: true, placeholder: 'Email' %>
  <%= f.password_field :password, class: '', autocomplete: "off", placeholder: 'Contraseña' %>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    </div>
  <% end -%>
  <div class="submit">
      <%= f.submit "Log in" %>
  </div>
<% end %>
<div class="new">
    <%= render "usuarios/shared/links" %>
</div>

