<!DOCTYPE html>
<html lang="en">
  <head> 
    <%= csrf_meta_tags %>   
    <title>4GG</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
                    

     <!-- Modal -->
      <header class="ms-header ms-header-dark">
        <div class="container container-full">
          <div class="ms-title">
            <a href="localhost:3000">
              <!-- <img src="assets/img/demo/logo-header.png" alt=""> -->
              <span class="ms-logo animated zoomInDown animation-delay-5">4G</span>
              <h1 class="animated fadeInRight animation-delay-6">
                <span>CELULRES</span>
              </h1>
            </a>
          </div>
          <div class="header-right">
    <a href="javascript:void(0)" class="btn-ms-menu btn-circle btn-circle-primary sb-toggle-left animated zoomInDown animation-delay-10">
              <i class="fa fa-reorder"></i>
            </a>
          
          </div>
        </div>
      </header>
            <ul class="nav navbar-nav">
              <li class="btn-navbar-menu"><a href="javascript:void(0)" class="sb-toggle-left"><i class="fa fa-menu"></i></a>
              </li>
            </ul> 

            <nav class="navbar navbar-static-top yamm ms-navbar ms-navbar-primary">
            <div class="navbar-header">
            <a class="navbar-brand" href="localhost:3000">
              <!-- <img src="assets/img/demo/logo-navbar.png" alt=""> -->
              <span class="ms-logo ms-logo-sm">4G</span>
              <span class="ms-title">
                <strong>..</strong>
              </span>
            </a>
          </div>
             <%= menu_group do %>

        <% if usuario_signed_in? %>
         <%= menu_item glyph(:user) + "Pedidos", "/pedidos" %>
    
         <%= menu_item glyph(:user) + "chequear ", "/chequears" %>

         <li class="dropdown">
                <a href="#" class="dropdown-toggle animated fadeIn animation-delay-9" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="ecommerce">OTROS SERVICIOS 

                  <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="ecommerce-filters.html">E-Commerce Sidebar</a>
                  </li>
             
                </ul>
              </li>

        <% end %>
        <%= menu_group pull: :right do %>
        <% if usuario_signed_in? %>

         <%= menu_item  current_usuario.email , "" %>
        <%= menu_item   glyph(:edit) + " Editar Perfil", edit_usuario_password_path %>
        <%= menu_item  glyph(:log_out) + " Salir", destroy_usuario_session_path, method: :delete, :class => 'text-danger',method: :delete, data: { confirm: 'Estas seguro?' }  %>

        <% else %>
        <%= menu_item  glyph(:log_in) + " Entrar", new_usuario_session_path  %>
        <%= menu_item  glyph(:plus_sign) + " Registro", new_usuario_registration_path %>
        <% end %>
        <% end -%>
        <% end %>

          
                 
          <!-- navbar-collapse collapse -->
          <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu">
            <i class="fa fa-reorder"></i>
          </a>
        <!-- container -->
      </nav> 

      <div class="material-background">
        
      </div> <!-- col-md-3 -->
 <% if notice %>
                    <%= bootstrap_flash %> 
                    <% end %>
                    <% if alert %>
                    <%= bootstrap_flash %> 
                    <% end %>
         </div>
            <%= yield %>
            <!-- col-md-9 -->
        </div>
      </div>



          <!-- row -->
    
      
      <!-- container -->
     
      <footer class="ms-footer">
        <div class="container">
          <p>EduardoEspinoza &copy; 4Gcelulares</p>
        </div>
      </footer>
     
    </div>
    <!-- sb-site-container -->
    <div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
      
        <header class="ms-slidebar-header">
          <div class="ms-slidebar-title">
            <div class="ms-slidebar-t">
              <span class="ms-logo ms-logo-sm">4G</span>
              <h3>
                <span>Celulares</span>
              </h3>
            </div>
          </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
          <li class="panel" role="tab" id="sch1">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc1" aria-expanded="false" aria-controls="sc1">
              <i class="fa fa-home"></i>Pedidos</a>
          </li>
        </ul>
      </div>
    </div>

  </body>

</html>