<!DOCTYPE html>
<html lang="en">
    <head>
        <title>4GG</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <%= stylesheet_link_tag    'preload' %>
        <%= stylesheet_link_tag    'plugins' %>
        <%= stylesheet_link_tag    'style' %>
        <%= stylesheet_link_tag    'Tablesbootstrap' %>
        <%= javascript_include_tag 'plugins' %>
        <%= javascript_include_tag 'app' %>
        <%= javascript_include_tag 'configurator' %>
        <%= javascript_include_tag 'dataTables' %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    </head>
    <body>
        <header class="ms-header ms-header-primary">
            <div class="container container-full">
                <div class="ms-title">
                    <a href="index.html">
                        <!-- <img src="assets/img/demo/logo-header.png" alt=""> -->
                        <span class="ms-logo animated zoomInDown animation-delay-5">4G</span>
                        <h1 class="animated fadeInRight animation-delay-6">
                            <span>Celulares</span>
                        </h1>
                    </a>
                </div>
                <div class="header-right">
                    <a href="javascript:void(0)" class="btn-ms-menu btn-circle btn-circle-primary sb-toggle-left animated zoomInDown animation-delay-10">
                    <i class="zmdi zmdi-menu"></i>
                    </a>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-static-top yamm ms-navbar ms-navbar-primary">
            <div class="container container-full">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- <img src="assets/img/demo/logo-navbar.png" alt=""> -->
                        <span class="ms-logo ms-logo-sm">4G</span>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <%= menu_group do %>
                    <% if usuario_signed_in? %>
                    <%= menu_item glyph(:new_window) + "Chequear", "/chequears" %>
                    <%= menu_item glyph(:new_window) + "Desbloquear", "/pedidos" %>
                    <%= menu_item glyph(:new_window) + "Reportar ", "localhost:3000" %>
                    <%= menu_item glyph(:new_window) + "Otros servicios ", "localhost:3000" %>
                    <% end %>
                    <%= menu_group pull: :right do %>
                    <% if usuario_signed_in? %>
                    <%= menu_item  current_usuario.email , "" %>
                    <%= menu_item   glyph(:edit) + " Editar Perfil", edit_usuario_password_path %>
                    <%= menu_item  glyph(:log_out) + " Salir", destroy_usuario_session_path, method: :delete, :class => 'text-danger',method: :delete, data: { confirm: 'Estas seguro?' }  %>
                    <% else %>
                    <%= menu_item glyph(:new_window) + "Chequear ", "/chequears" %>
                    <%= menu_item  glyph(:log_in) + " Entrar", new_usuario_session_path  %>
                    <%= menu_item  glyph(:plus_sign) + " Registro", new_usuario_registration_path %>
                    <% end %>
                    <% end -%>
                    <% end %>
                    <div class="row">
                        <div class="col-lg-12">
                            <% if notice %>
                            <%= bootstrap_flash %> 
                            <% end %>
                            <% if alert %>
                            <%= bootstrap_flash %> 
                            <% end %>
                        </div>
                    </div>
                </div>
                <!-- navbar-collapse collapse -->
                <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu">
                <i class="zmdi zmdi-menu"></i>
                </a>
            </div>
            <!-- container -->
        </nav>
        <div class="ms-hero ms-hero-img-wall ms-bg-fixed pb-4">
            <div id="carousel-shop" class="ms-carousel-shop carousel carousel-fade slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-shop" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-shop" data-slide-to="1"></li>
                    <li data-target="#carousel-shop" data-slide-to="2"></li>
                </ol>
                <div class="container">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-6 col-md-push-6">
                                    <div class="carousel-caption">
                                        <h2>Chequear celular reportado, en lista negra, blacklist o banda negativa</h2>
                                        <p class="lead">¿A punto de comprar un celular usado?</p>
                                        <p class="lead">¿Llamadas y datos restringidos y no sabes la causa?</p>
                                        <p class="lead">¿Quieres asegurarte de que no usen tu celular robado?</p>
                                        <a href="javascript:void(0)" class="btn btn-success btn-raised">chequear</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-pull-6">
                                    <%= image_tag("macbook2016", size: "400x100", class: 'img-responsive') %>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="carousel-caption">
                                        <ul class="list-unstyled">
                                            <li> <%= image_tag("monitor", size: "200x100", class: 'img-responsive') %>
                                            </li>
                                        </ul>
                                        <p class="lead">Selecciona celular y realiza pedido</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="carousel-caption">
                                        <ul class="list-unstyled">
                                            <li> <%= image_tag("correo", size: "209x80", class: 'img-responsive') %>
                                            </li>
                                            <p class="lead">Recibe código de desbloqueo por e-mail.</p>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="carousel-caption">
                                        <ul class="list-unstyled">
                                            <li> <%= image_tag("desbloqueo", size: "300x100", class: 'img-responsive') %>
                                            </li>
                                        </ul>
                                        <p class="lead">Introduce código en tu celular.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6 col-md-push-6">
                                    <div class="carousel-caption">
                                        <h2 class="text-36 text-white">Repara tu iPhone, Samsung, Nokia, HTC con 4Gc Celulares</h2>
                                        <p class="lead">Con la Garantía y Seguridad del servicio lider en Ahorro, Desbloqueo y Reparación de Celulares</p>
                                        <ul>
                                            <li><i class="zmdi zmdi-check zmdi-fw text-success"></i> Al mejor precio y en tiempo record</li>
                                            <br>
                                            <li><i class="zmdi zmdi-check zmdi-fw text-success"></i> Reparaciones con 6 meses de garantía</li>
                                            <br>
                                            <li><i class="zmdi zmdi-check zmdi-fw text-success"></i> Equipo profesional de técnicos acreditados</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-pull-6">
                                    <li>
                                        <%= image_tag("repair", size: "400x200", class: 'img-responsive') %>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a href="#carousel-shop" class="btn-circle btn-circle-sm btn-circle-raised btn-circle-primary left carousel-control" role="button" data-slide="prev">
                <i class="zmdi zmdi-chevron-left"></i>
                </a>
                <a href="#carousel-shop" class="btn-circle btn-circle-sm btn-circle-raised btn-circle-primary right carousel-control" role="button" data-slide="next">
                <i class="zmdi zmdi-chevron-right"></i>
                </a>
            </div>
        </div>
        <%= yield %>
        <!-- container -->
        <aside class="ms-footbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 ms-footer-col">
                        <div class="ms-footbar-block">
                            <h3 class="ms-footbar-title">Navegación Web</h3>
                            <h4 class="ms-footbar-title">Estado de mi Pedido</h4>
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="javascript:void(0)">
                                    <img class="media-object media-object-circle"  alt="..."> </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="javascript:void(0)">¿Cómo funciona doctorSIM?</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="javascript:void(0)">
                                    <img class="media-object media-object-circle"  alt="..."> </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="javascript:void(0)">¿No encuentras tu modelo?</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-7 ms-footer-col ms-footer-alt-color">
                        <div class="ms-footbar-block">
                            <h3 class="ms-footbar-title text-center mb-2">Todo sobre 4G Celulares</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-5 ms-footer-col ms-footer-text-right">
                        <div class="ms-footbar-block">
                            <div class="ms-footbar-title">
                                <span class="ms-logo ms-logo-white ms-logo-sm mr-1">4G</span>
                                <h3 class="no-m ms-site-title">
                                    <span>Celulares</span>
                                </h3>
                            </div>
                            <address class="no-mb">
                                <p>
                                    <i class="color-danger-light zmdi zmdi-pin mr-1"></i> Lomas Valentina c/ Avda. Caballero
                                </p>
                                <p>
                                    <i class="color-warning-light zmdi zmdi-map mr-1"></i> Encarnacion
                                </p>
                                <p>
                                    <i class="color-info-light zmdi zmdi-email mr-1"></i>
                                    <a href="mailto:joe@example.com">4gcelulares@gmail.com</a>
                                </p>
                                <p>
                                    <i class="color-royal-light zmdi zmdi-phone mr-1"></i>+595 975 174 159 
                                </p>
                            </address>
                        </div>
                        <div class="ms-footbar-block">
                            <h3 class="ms-footbar-title">Red Social</h3>
                            <div class="ms-footbar-social">
                                <a href="javascript:void(0)" class="btn-circle btn-facebook">
                                <i class="zmdi zmdi-facebook"></i>
                                </a>
                                <a href="javascript:void(0)" class="btn-circle btn-google">
                                <i class="zmdi zmdi-google"></i>
                                </a>
                                <a href="javascript:void(0)" class="btn-circle btn-instagram">
                                <i class="zmdi zmdi-instagram"></i>
                                </a>
                                <a href="javascript:void(0)" class="btn-circle btn-github">
                                <i class="zmdi zmdi-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <footer class="ms-footer">
            <div class="container">
                <p>4G Celulares &copy; Eduardo Espinoza</p>
            </div>
        </footer>
        <div class="btn-back-top">
            <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
            <i class="zmdi zmdi-long-arrow-up"></i>
            </a>
        </div>
        </div>
        <div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
            <div class="sb-slidebar-container">
                <header class="ms-slidebar-header">
                    <div class="ms-slidebar-login">
                        <a href="javascript:void(0)" class="withripple">
                        <i class="zmdi zmdi-account"></i>login</a>
                        <a href="javascript:void(0)" class="withripple">
                        <i class="zmdi zmdi-account-add"></i> Registrar</a>
                    </div>
                    <div class="ms-slidebar-title">
                        <form class="search-form">
                            <input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q" />
                            <label for="search-box-slidebar">
                            <i class="zmdi zmdi-search"></i>
                            </label>
                        </form>
                        <div class="ms-slidebar-t">
                            <span class="ms-logo ms-logo-sm">4G</span>
                            <h3>
                                <span>Celulares</span>
                            </h3>
                        </div>
                    </div>
                </header>
                <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
                    <!-- <li class="panel" role="tab" id="sch1">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc1" aria-expanded="false" aria-controls="sc1">
                        <i class="zmdi zmdi-home"></i> Incio </a>
                        <ul id="sc1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sch1">
                            <li>
                                <a href="index.html">chequear</a>
                            </li>
                            
                        </ul>
                        </li>
                        <li class="panel" role="tab" id="sch2">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc2" aria-expanded="false" aria-controls="sc2">
                        <i class="zmdi zmdi-desktop-mac"></i>Chequear</a>
                        <ul id="sc2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sch2">
                            <li>
                                <a href="page-about.html">Chequear</a>
                            </li>
                           
                                
                        
                        </ul>
                        </li>-->
                    <!-- <li><a  href="blog-post2.html">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc4" aria-expanded="false" aria-controls="sc4"></a></li>
                        <i class="zmdi zmdi-edit"></i> 1 </a>
                        <ul id="sc4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sch4">
                            
                            <li>
                                <a href="blog-post2.html"> </a>
                            </li>
                        </ul>
                        </li>
                        <li class="panel" role="tab" id="sch5">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc5" aria-expanded="false" aria-controls="sc5">
                        <i class="zmdi zmdi-shopping-basket"></i> E-Commerce </a>
                        <ul id="sc5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sch5">
                            <li>
                                <a href="ecommerce-filters.html">E-Commerce Sidebar</a>
                            </li>
                            <li>
                                <a href="ecommerce-filters-full.html">E-Commerce Sidebar Full</a>
                            </li>
                            <li>
                                <a href="ecommerce-filters-full2.html">E-Commerce Topbar Full</a>
                            </li>
                            <li>
                                <a href="ecommerce-item.html">E-Commerce Item</a>
                            </li>
                            <li>
                                <a href="ecommerce-cart.html">E-Commerce Cart</a>
                            </li>
                        </ul>
                        </li>
                        <li class="panel" role="tab" id="sch6">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc6" aria-expanded="false" aria-controls="sc6">
                        <i class="zmdi zmdi-collection-image-o"></i> Portfolio </a>
                        <ul id="sc6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sch6">
                            <li>
                                <a href="portfolio-filters_sidebar.html">Portfolio Sidebar Filters</a>
                            </li>
                            <li>
                                <a href="portfolio-filters_topbar.html">Portfolio Topbar Filters</a>
                            </li>
                            <li>
                                <a href="portfolio-filters_sidebar_fluid.html">Portfolio Sidebar Fluid</a>
                            </li>
                            <li>
                                <a href="portfolio-filters_topbar_fluid.html">Portfolio Topbar Fluid</a>
                            </li>
                            <li>
                                <a href="portfolio-cards.html">Porfolio Cards</a>
                            </li>
                            <li>
                                <a href="portfolio-masonry.html">Porfolio Masonry</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Portfolio Item 1</a>
                            </li>
                            <li>
                                <a href="portfolio-item2.html">Portfolio Item 2</a>
                            </li>
                        </ul>
                        </li>-->
                    <li>
                        <a class="link" href="localhost:3000">
                        <i class="zmdi zmdi-home"></i>Incio</a>
                    </li>
                    <li>
                        <a class="link" href="/chequears">
                        <i class="glyphicon glyphicon-new-window"></i>Chequear</a>
                    </li>
                    <li>
                        <a class="link" href="reportars">
                        <i class="glyphicon glyphicon-new-window"></i>reportar</a>
                    </li>
                </ul>
                <div class="ms-slidebar-social ms-slidebar-block">
                    <h4 class="ms-slidebar-block-title">Red Social</h4>
                    <div class="ms-slidebar-social">
                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-facebook">
                        <i class="zmdi zmdi-facebook"></i>
                        <span class="badge badge-pink">12</span>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-instagram">
                            <i class="zmdi zmdi-instagram"></i>
                            <div class="ripple-container"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>