<!DOCTYPE html>
<html>
  <head>
    <title>4GCelulares</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <!-- Preloader Area Start 
    ====================================================== -->
    <div id="mask">
        <div id="loader">      
        </div>
    </div>
   <!-- =================================================
    Preloader Area End -->

     <!--Start Header Area  
    ====================================================== -->
    <header class="header-area header-blue-clr ">
        <div class="container clearfix">
            
            <!-- Start: Logo Sec-->
            <div class="logo-cnt">
                <a href="#"><%= image_tag("logo.png", :alt => "4GCelulares") %></a>
            </div>
            <!-- End: Logo Sec-->
            
            <!-- Start: Toggle sec-->
            <a href="#" class="togg-navi">
                <span class="togg-text-menu">
                    <i class="fa fa-bars"></i>
                </span>
            </a>
            <!-- End: Toggle sec-->
            
            
            <!-- Start: Main Navigation -->
            <nav class="main-nav">
                <ul class="menu-main">
                    <li><a href="#welcome">Home</a></li>
                    <li><a href="#about-area">About</a></li>
                    <li><a href="#features">Features </a></li>
                    <li><a href="#team">Team </a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                
            <!-- Start: Main Navigation -->
            <div class="trial-button">
                <a href="">Free Trial</a>
            </div>  
            <!-- End: Main Navigation -->

            </nav>
            <!-- End: Main Navigation -->
                             
        </div>
    </header>
    <!--End Header Area 
    ====================================================== -->

     <!-- Start Banner Area 
    ====================================================== -->
    <section class="banner-sec blue-banner-sec clearfix" id="welcome">
    
        <!-- Start: flexslider -->
        <div id="banner-slider" class="flexslider clearfix">
            <ul class="slides">
            
                <!-- Start: flexslider-one -->
                <li class="bg-banner-full slider_one">
                    <div class="balck-solid blue-solid">
                    <div class="banner-mid-text banner-sign-up">
                        <div class="container">
                        
                            <!-- Start: col-md-4 Outer Section -->
                            <div class="col-md-4">
                            <div class="row">
                                <div class="sign-up-sec">
                                    <span>Sign up to find out more!</span>
                                    <input placeholder="Your Name" name="Your Name" class="text-field">
                                    <input placeholder="Your Email" name="Your Email" class="text-field">
                                    <input placeholder="Your Phone" name="Your Phone" class="text-field">
    
                                    <!-- Start: Common Button -->
                                    <div class="common-buttons">
                                        <a id="submit" class="view-more" href="">Register Now</a>
                                    </div> 
                                    <!-- End: Common Button -->
                                    
                                    <p>By signing up, you agree to our<a href=""> Terms of Service</a> and<a href=""> Privacy Policy</a></p>     
                                </div>
                            </div>
                            </div>
                            <!-- End: col-md-4 Outer Section -->
                            
                            <!-- Start: Banner-Right Main Section -->
                            <div class="banner-sign-rght">
                            
                                <h1>The great <span>oppertunity</span></h1>
                                <h1>That you <span>ever seen</span></h1>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>                         
                                <!-- Start: Banner-Buttons Main Section -->
                                <div class="banner-bttn-sec blue-sec-bttn">
                                
                                    <!-- Start: Common Button -->
                                    <div class="common-buttons">
                                        <ul><li><a href="" class="view-more"><i class="fa fa-caret-square-o-left"></i>Learn More</a></li></ul>
                                    </div>
                                    <!-- End: Common Button -->
                            
                                </div>
                                <!-- End: Banner-Buttons Main Section -->
                                
                           </div>
                          <!-- End: Banner-Right Main Section -->
                          
                        </div>
                    </div>
                    </div>
                </li>
                <!-- End: flexslider-one -->
                
            </ul>
        </div>
        <!-- End: flexslider -->
                      
    </section>
    <!-- =================================================
    End Banner Area-->

     <!-- Start Color sec section full width
    ====================================================== -->
    <section>

        <!-- Start: Color sec full width-->
        <div class="gray-clr-sec">
            <div class="container clearfix">

                <!-- Start: Left Sec -->
                <div class="col-md-6 left-flt">
                    <div class="clr-sec-img">
                        <%= image_tag("mid-lft-img-1.png", :alt => "4GCelulares") %>
                    </div>
                </div>
                <!-- End: Left Sec -->
                
                <!-- Start: Right Col-6 -->
                <div class="col-md-6 text-flt">
                
                    <!-- Start: text-area-full -->
                    <div class="text-content">
                        <h3>Real time conference</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.</p>
                        <p>Quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
        
                        <!-- Start: Common Button -->
                        <div class="common-buttons">
                            <ul><li><a href="" class="view-more"><i class="fa fa-caret-square-o-left"></i>Learn More</a></li></ul>
                        </div>
                        <!-- End: Common Button -->
                        
                    </div>
                    <!-- End: text-area-full -->
                    
                </div>  
                <!-- End:  Right Col-6 -->
                
         </div>
    </div>
    <!-- End: Color sec full width-->
        
    </section>
    <!-- =================================================
    End Color sec section full width-->



    

    <!-- Start About Area Top Sec 
    ====================================================== -->
    <section id="about-area" class="detail-area">
        <div class="container">
                
                <!-- Start: detail area heading sec -->
                <h2>We are here for you..!</h2>
                <hr>
                <h6><span>perspiciatis unde omnis iste natus </span>
sit voluptatem accusantium doloremque laudantium, totam rem aperiam, </h6>
                <!-- End: detail area heading sec -->

                <!-- Start: Outer About Main -->
                <div class="outer-about">
                
                    <!-- Start: About Area colm-1 -->
                    <div class="col-md-4 small-boxs">
                        <div class="symbl-outr"><i class="fa fa-lightbulb-o"></i></div>
                        <h4>sharing great ideas</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus 
sit voluptatem accusantium doloremque laudantium, totam rem aperiam, </p>
                    </div>
                    <!-- End: About Area colm-1 -->
                    
                    <!-- Start: About Area colm-2 -->
                    <div class="col-md-4 small-boxs">
                        <div class="symbl-outr"><i class="fa fa-hand-peace-o"></i></div>
                        <h4>Great support</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus 
sit voluptatem accusantium doloremque laudantium, totam rem aperiam, </p>
                    </div>
                    <!-- End: About Area colm-2 -->
                    
                    <!-- Start: About Area colm-3 -->
                    <div class="col-md-4 small-boxs">
                        <div class="symbl-outr"><i class="fa fa-key"></i></div>
                        <h4>Perfect concepts</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus 
sit voluptatem accusantium doloremque laudantium, totam rem aperiam, </p>
                    </div>
                    <!-- End: About Area colm-3 -->
                    
                </div>
                <!--End: Outer-About Main -->
                
        </div>
    </section>
    <!-- =================================================
    End About Area colm sec-->


    <!--Start Count-Area  
    ====================================================== -->
    <section class="count-area-sec">
    <div class="overlay-black">
        <div class="container">
            
                <div class="col-md-3 count-boxes">
                    <span class="count-num">230</span>
                    <hr>
                    <h6>Finished Projects</h6>
                </div>
                
               <div class="col-md-3 count-boxes">
                    <span class="count-num">310</span>
                    <hr>
                    <h6>Satisfied clients</h6>
                </div>
                
                <div class="col-md-3 count-boxes">
                    <span class="count-num">623</span>
                    <hr>
                    <h6>Cups of coffee</h6>
                </div>

                <div class="col-md-3 count-boxes">
                    <span class="count-num">128</span>
                    <hr>
                    <h6>Winning awards</h6>
                </div>

        </div>
    </div>
    </section>
    <!-- =================================================
    End Count-Area  -->


    <!-- Start Our Awesome Features 
    ====================================================== -->
    <section id="features" class="awesome-features">
        <div class="container">
        
            <!-- Start: Awesome Features heading sec -->
            <h2>Our Awesome Features</h2>
                <hr>
            <h6>
                <span>perspiciatis unde omnis iste natus </span>
                sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
             </h6>
            <!-- End: Awesome Features heading sec -->
            
            <!-- Start: Outer-Features Main -->
            <div class="outer-features">
            
                <!-- Start: About Features colm-1 -->
                <div class="col-md-12 features-boxs">
                    <div class="img-outr">
                        <%= image_tag("feature-img1.png", :alt => "r4GCelulares") %>
                    </div>
                    <h6>Our Feature #1</h6>
                    <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.</p>
                </div>
                <!-- End: About Features colm-1 -->
                


            </div>
            <!-- End: Outer-Features Main -->
            
        </div>
    </section>
    <!-- =================================================
    End Our Awesome Features -->


    <!-- Start Color section full width
    ====================================================== -->
    <section>

        <!-- Start: Color sec full width-->
        <div class="gray-clr-sec">
        <div class="container clearfix">
        
            <!-- Start: Left Sec -->
            <div class="col-md-6 left-flt">
                <div class="clr-sec-img">
                    <%= image_tag("bttm-rght-img.png", :alt => "r4GCelulares") %>
                </div>
            </div>
            <!-- End: Left Sec -->
            
            <!-- Start: Right Col-6 -->
            <div class="col-md-6">
            
                <!-- Start: text-area-full -->
                <div class="text-content">
                    <h3>Item Brief Section #1</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>

                    <ul class="list-content">
                        <li><i class="fa fa-plus-circle"></i>At perspiciatis unde omnis iste natus error sit voluptat</li>
                        <li><i class="fa fa-plus-circle"></i>Accusantium doloremque laudantium, totam rem aperiam</li>
                        <li><i class="fa fa-plus-circle"></i>Eaque ipsa quae ab illo inventore veritatis et </li>
                        <li><i class="fa fa-plus-circle"></i>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                    </ul>
    
                    <!-- Start: Common Button -->
                    <div class="common-buttons">
                        <ul><li><a href="" class="view-more"><i class="fa fa-caret-square-o-left"></i>Learn More</a></li></ul>
                    </div>
                    <!-- End: Common Button -->
                    
                </div>
                <!-- End: text-area-full -->
                
            </div>  
            <!-- End:  Right Col-6 -->
            
        </div>  
        </div>
        <!-- End: Color sec full width-->
        
        <!-- Start: Color sec full width-->
        <div class="white-clr-sec">
        <div class="container clearfix">
        
            <!-- Start: Left Sec -->
            <div class="col-md-6 right-flt">
                <div class="clr-sec-img">
                    <img src="http://responsiveexpert.com/themes/spandow/html/img/bttm-lft-img.png" alt="">
                </div>
            </div>
            <!-- End: Left Sec -->

            <!-- Start: Right Col-6 -->
            <div class="col-md-6">
                
                <!-- Start: text-area-full -->
                <div class="text-content">
                    <h3>Item Brief Section #2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>

                    <ul class="list-content">
                        <li><i class="fa fa-plus-circle"></i>At perspiciatis unde omnis iste natus error sit voluptat</li>
                        <li><i class="fa fa-plus-circle"></i>Accusantium doloremque laudantium, totam rem aperiam</li>
                        <li><i class="fa fa-plus-circle"></i>Eaque ipsa quae ab illo inventore veritatis et </li>
                        <li><i class="fa fa-plus-circle"></i>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                    </ul>
                
                    <!-- Start: Common Button -->
                    <div class="common-buttons">
                        <ul><li><a href="" class="view-more"><i class="fa fa-caret-square-o-left"></i>Learn More</a></li></ul>
                    </div>
                    <!-- End: Common Button -->
                        
                </div>
                <!-- End: text-area-full -->
                
                </div>
                <!-- End: Right Col-6 -->
            
            </div>  
            <!-- End: text-area-full -->
            
        </div>
        <!-- End: Color sec full width-->
        
    </section>
    <!-- End: Color section full width
    ====================================================== -->


    <!-- Start Color section full width
    ====================================================== -->
    <section id="team" class="meet-team-outer">
        <div class="container">
        
            <!-- Start: Common Button -->
            <div class="meet-team-sec">
            
                <!-- Start: meet-team-sec head-->
                <h2>Meet The Team</h2>
                <hr>
                <p><span>perspiciatis unde omnis iste natus </span>
                sit voluptatem accusantium doloremque laudantium, totam rem aperiam, </p>
                <!-- End: meet-team-sec head-->

                <!-- Start: Col-Outer-Sec Main-->
                <div class="col-outer-sec">
                
                    <!-- Start: col-md-3 -->
                    <div class="col-md-3">
                    <div class="team-box">
                    
                    
                        <!-- Start: img section -->
                        <div class="img-box">
                            <img src="http://responsiveexpert.com/themes/spandow/html/img/team1.jpg" alt="">
                        </div>
                        <!-- End: img section -->

                        <!-- Start: team-text-div -->
                        <div class="team-text">
                            <h6>Martin Luther</h6>
                            <span>Founder</span>
                            
                            <!-- Start: Social-Icons Sec -->
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                            <!-- End: Social-Icons Sec -->
                            
                        </div>
                        <!-- End: team-text-div -->
                        
                    </div>
                    </div>
                    <!-- End: col-md-3 -->
                    
                    <!-- Start: col-md-3 -->
                    <div class="col-md-3">
                    <div class="team-box">
                    
                        <!-- Start: img section -->
                        <div class="img-box">
                            <img src="http://responsiveexpert.com/themes/spandow/html/img/team2.jpg" alt="">
                        </div>
                        <!-- End: img section -->
                        
                        <!-- Start: team-text-div -->
                        <div class="team-text">
                            <h6>Moly John</h6>
                            <span>Director</span>
                            
                            <!-- Start: Social-Icons Sec -->
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                            <!-- End: Social-Icons Sec -->
                            
                        </div>
                        <!-- End: team-text-div -->
                        
                    </div>
                    </div>
                    <!-- End: col-md-3 -->
    
                    <!-- Start: col-md-3 -->
                    <div class="col-md-3">
                    <div class="team-box">
                    
                        <!-- Start: img section -->
                        <div class="img-box">
                            <img src="http://responsiveexpert.com/themes/spandow/html/img/team3.jpg" alt="">
                        </div>
                        <!-- End: img section -->
                        
                        <!-- Start: team-text-div -->
                        <div class="team-text">
                            <h6>Deo Dormaan</h6>
                            <span>Creative Director</span>
                            
                            <!-- Start: Social-Icons Sec -->
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                            <!-- End: Social-Icons Sec -->
                            
                        </div>
                        <!-- End: team-text-div -->
                        
                    </div>
                    </div>
                    <!-- End: col-md-3 -->
    
                    <!-- Start: col-md-3 -->
                    <div class="col-md-3">
                    <div class="team-box">
                    
                        <!-- Start: img section -->
                        <div class="img-box">
                            <img src="http://responsiveexpert.com/themes/spandow/html/img/team4.jpg" alt="">
                        </div>
                        <!-- End: img section -->
                        
                        <!-- Start: team-text-div -->
                        <div class="team-text">
                            <h6>Jerald Lambart</h6>
                            <span>UI / UX Developer</span>
                            
                            <!-- Start: Social-Icons Sec -->
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                            <!-- End: Social-Icons Sec -->
                            
                        </div>
                        <!-- End: team-text-div -->
                        
                    </div>
                    </div>
                    <!-- End: col-md-3 -->
                    
                </div>     
                <!-- End: Col-Outer-Sec Main-->
                
            </div>
            <!-- End: Color sec full width-->
        
        </div>
    </section>
    <!-- End: Color section full width
    ====================================================== -->
    
    
    <!-- Start Contact Form 
    ====================================================== -->
    <section id="contact" class="contact-form-sec">
        <div class="container">
        
            <!-- Start: Contact Form Headder-->
            <div class="contact-form-details">
                <h2>Contact Now</h2>
                <hr>
                <p>We’re always happy to reply our customers. </p>
            </div>
            <!-- End: Contact Form Headder-->
        </div>                   
            
        <div class="container">
            
                <!-- Start: Quick Contact Area-->
                <div class="quick-contact-box">
                    <form method="post" name="contact">
                        <div class="contact-form-details">
                            <ul class="form-cntnt" id="contact-form">
                                <li class="col-md-4 contact-sub-bx"><input id="contact-name" class="text-field" name="Your Name" placeholder="Your Name"></li>
                                <li class="col-md-4 contact-sub-bx"><input id="contact-email" class="text-field" name="Your Email" placeholder="Your Email"></li>
                                <li class="col-md-4 contact-sub-bx"><input id="contact-web" class="text-field" name="Your Website" 
                                    placeholder="Your Website"></li>
                                <li class="col-md-12 contact-sub-bx"><textarea id="contact-msg" rows="4" cols="120" name="comment" 
                                    placeholder="Your Message"></textarea></li>
                                <li class="col-md-12 col-submit"><div class="common-buttons"><a id="contact-submit" href="" class="view-more">
                                    <i class="fa fa-caret-square-o-left"></i>Submit Now</a></div>
                                </li>
                            </ul>
                         </div>
                    </form>
                </div>
                <!-- End: Quick Contact Area-->
                
                <div id="contact-loading" style="display: none;"> Email Sending... </div>
                <div id="contact-success" style="display: none;"> Your message sent sucessfully to our team and they will be in touch with you asap. </div>
                <div id="contact-failed" style="display: none;"> Error...!, message sending faild , try after sometime. </div>
        </div>
    </section>
    <!-- =================================================
    End Our Contact Form -->
   
    
    <!-- Start Contact Form 
    ====================================================== -->
    <section class="cntct-btm-img">
    <div class="overlay-black">
        <div class="container">
        
            <div class="subscribe-content">
                <h3>Subscribe today for latest news...!</h3>
                <span>Be amongst the first to know about news and offers</span>
                <div class="subscribe-mail">
                    <input class="text-field" name="Your Email" placeholder="Enter your email">
                    <div class="common-buttons"><a href="" class="view-more">Subscribe</a></div>
                </div>
            </div>
            
        </div>
    </div>
    </section>
    <!-- =================================================
    End Our Contact Form -->
    
    
    <!-- Start Footer-Section
    ====================================================== -->
    <section id="footer-contact" class="footer-sec">
        <div class="container">
        
            <div class="footer-inner">
                <%= image_tag("logo.png", :alt => "r4GCelulares") %>
                
                <ul class="footer-sublinks">
                    <li><a href="#">About</a><span></span></li>
                    <li><a href="#">Terms</a><span></span></li>
                    <li><a href="#">Privacy</a><span></span></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                
                <!-- Start: Social-Icons Sec -->
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
                <!-- End: Social-Icons Sec -->

            </div>
        
        </div>
    </section>
    <!-- =================================================
    End Footer-Section -->


    <!-- Start Footer-Copyright
    ====================================================== -->
    <section class="footer-copyright-sec">
        <div class="container">
        
            <div class="footer-copyright">
                <ul>    
                    <li>&copy; <a href="#">4GCelulares </a>LLC 2016 . All Rights Reserved <span></span></li>
                    <li>Handcrafted with love Responsive Experts</li>
                </ul>
            </div>
            
        </div>
    </section>
    <!-- =================================================
    End Footer-Copyright -->

    
  </body>
</html>
