<%= form_with(model: operadora, local: true) do |form| %>
  <% if operadora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operadora.errors.count, "error") %> prohibited this operadora from being saved:</h2>

      <ul>
      <% operadora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pais_id %>
    <%= form.number_field :pais_id, id: :operadora_pais_id %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :operadora_nombre %>
  </div>

  <div class="field">
    <%= form.label :costo %>
    <%= form.text_field :costo, id: :operadora_costo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
