
<div class="col-md-9 ms-paper-content-container">
    <div class="ms-paper-content">
        <h1>Marcas</h1>
        <p id="notice"><%= notice %></p>
        <section class="ms-component-section">
            <div class="bs-example">
                <table class="table">
                    <thead>
                        <tr>
      <th>Pais</th>
      <th>Nombre</th>
      <th>Costo</th>
                            <th colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        
   
    <% @operadoras.each do |operadora| %>
                        <tr>   <td><%= operadora.pais_id %></td>
        <td><%= operadora.nombre %></td>
        <td><%= operadora.costo %></td>
        <td><%= link_to 'Show', operadora %></td>
        <td><%= link_to 'Edit', edit_operadora_path(operadora) %></td>
        <td><%= link_to 'Destroy', operadora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <!-- panel-code -->
        </section>
    </div>
    <!-- ms-paper-content -->
</div>

<%= link_to 'New Operadora', new_operadora_path %>
