<p id="notice"><%= notice %></p>

<h1>Reportes</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Imei</th>
      <th>Tipo</th>
      <th>Operador</th>
      <th>Estador</th>
      <th>Estadop</th>
      <th>Ciudad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reportes.each do |reporte| %>
      <tr>
        <td><%= reporte.marca %></td>
        <td><%= reporte.modelo %></td>
        <td><%= reporte.imei %></td>
        <td><%= reporte.tipo %></td>
        <td><%= reporte.operador %></td>
        <td><%= reporte.estadoR %></td>
        <td><%= reporte.estadoP %></td>
        <td><%= reporte.ciudad %></td>
        <td><%= link_to 'Show', reporte %></td>
        <td><%= link_to 'Edit', edit_reporte_path(reporte) %></td>
        <td><%= link_to 'Destroy', reporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reporte', new_reporte_path %>
